/* Global Reset */
* {
  box-sizing: border-box;
}

/*  Variables */
:root {
  --color-white: #ffffff;
  --color-off-white: #f7f7f7;
  --color-black: #121212;
  --color-gray-100: #eee;
  --color-gray-200: #ddd;
  --color-gray-300: #ccc;
  --color-gray-400: #999;
  --color-gray-500: #777;
  --color-gray-600: #666;
  --color-gray-700: #555;
  --color-gray-800: #111;

  --bg-color: var(--color-white);
  --bg-color-invert: var(--color-black);
  --text-color: var(--color-gray-800);
  --text-color-navbar-link: var(--color-gray-600);
  --text-color-invert: var(--color-gray-100);
  --text-color-stats-label: var(--color-gray-500);
  --text-color-card-label: var(--color-gray-600);
  --text-color-card-description: var(--color-gray-700);
  --border-color: var(--color-gray-800);
  --link-color: var(--color-gray-700);
  --link-hover-color: var(--color-gray-800);
  --footer-bg-color: var(--color-off-white);

  --font-size-xxl: 3.75rem;
  --font-size-xl: 2.25rem;
  --font-size-lg: 1.5rem;
  --font-size-md: 1.125rem;
  --font-size-sm: 1rem;
  --font-size-xs: 0.875rem;
  --font-stat-number: 5rem;
  --font-stat-label: 1.5rem;
  --font-card-title: 2rem;
  --font-card-desc: 1.25rem;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 20px;
  --spacing-xl: 32px;
  --spacing-xxl: 40px;
  --spacing-section: 100px;
  --screen-width-xl: 1440px;
  --footer-width-xl: 1200px;

  --button_radius: 0.7em;
}

/* Dark Mode */
.dark {
  --bg-color: var(--color-black);
  --bg-color-invert: var(--color-white);
  --text-color: var(--color-gray-100);
  --text-color-navbar-link: var(--color-gray-300);
  --text-color-invert: var(--color-gray-800);
  --text-color-stats-label: var(--color-gray-400);
  --text-color-card-label: var(--color-gray-400);
  --text-color-card-description: var(--color-gray-300);
  --border-color: var(--color-gray-100);
  --link-color: var(--color-gray-300);
  --link-hover-color: var(--color-gray-100);
  --footer-bg-color: var(--color-gray-800);
}

/* Base Styles */
body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

img {
  max-width: 100%;
  display: block;
}

/* Container */
.container {
  max-width: var(--screen-width-xl);
  margin: auto;
}

/* Link Component */
.link {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.2s;
}

.link--learn-more {
  color: var(--link-color);
  font-size: var(--font-size-md);
  font-weight: 400;
  text-decoration: underline;
}

.link--learn-more:hover {
  color: var(--link-hover-color);
}

/* Header Block */
.header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__topbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-lg) 0;
  position: relative;
}

.header__nav-list {
  list-style: none;
  display: flex;
  gap: var(--spacing-xl);
  margin: 0;
  padding: 0;
}

.header__nav-link {
  text-decoration: none;
  color: var(--text-color-navbar-link);
  font-weight: 400;
  font-size: var(--font-size-sm);
  transition: color 0.2s;
}

.header__nav-link:hover {
  text-decoration: underline;
  color: var(--text-color);
}

.header__company-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 450;
  font-size: var(--font-size-md);
}

.header__content {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: var(--spacing-section);
}

.header__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(45%);
}

.header__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: var(--spacing-xl) 24px;
  color: var(--color-white);
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
}

.header__text-block {
  align-self: center;
  justify-self: start;
  max-width: 500px;
}

.header__title {
  font-size: var(--font-size-xxl);
  font-weight: 300;
  margin-bottom: 10px;
}

.header__description {
  font-size: var(--font-size-md);
  line-height: 1.5;
  color: var(--color-gray-300);
}

/* Call-to-Action */
.header__cta {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-xl);
}

.header__cta-container {
  display: flex;
  gap: var(--spacing-sm);
  width: 500px;
}

.header__cta-text {
  font-size: var(--font-size-md);
  color: var(--color-gray-200);
  margin: 0;
}

.header__cta .link.link--learn-more {
  align-self: flex-end;
  font-weight: 400;
  text-decoration: none;
  color: var(--color-gray-200);
}

.header__cta .link.link--learn-more:hover {
  color: var(--color-white);
}

/* Section Block */
.section {
  margin-bottom: var(--spacing-section);
}

.section--about {
  display: grid;
  gap: 80px;
}

.section__title {
  font-size: var(--font-size-xxl);
  color: var(--text-color);
  font-weight: 300;
  margin: 0 0 35px;
}

/* About Section */
.about__text-block {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.about__title {
  grid-area: 1 / 1 / 2 / 2;
  font-size: var(--font-size-xl);
  color: var(--text-color);
  font-weight: 350;
  letter-spacing: 1px;
  margin-top: 10px;
}

.about__description {
  grid-area: 1 / 3 / 2 / 8;
  text-align: justify;
  font-size: var(--font-size-xxl);
  color: var(--text-color);
  font-weight: 300;
  margin: 0;
}

.about__stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-section);
}

/* Stat Card Component */
.stat-card {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.stat-card__number {
  font-size: var(--font-stat-number);
  font-weight: 300;
  color: var(--text-color);
  margin-bottom: 12px;
}

.stat-card__label {
  font-size: var(--font-stat-label);
  color: var(--text-color-stats-label);
}

/* Card Grid Component */
.card-grid {
  display: flex;
  gap: var(--spacing-lg);
}

/* Content Card Component */
.content-card {
  display: block;
  flex: 1 1;
}

.content-card__image {
  object-fit: cover;
  margin-bottom: 30px;
}

.section--services .content-card__image {
  height: 530px;
}

.section--portfolio .content-card__image {
  height: 450px;
}

.content-card__subject {
  display: block;
  width: 100%;
  font-size: var(--spacing-md);
  color: var(--text-color-card-label);
  text-transform: uppercase;
  margin-bottom: var(--spacing-lg);
}

.content-card__title {
  font-size: var(--font-card-title);
  margin: 0 0 12px;
  font-weight: 350;
  color: var(--text-color);
}

.content-card__description {
  font-size: var(--font-card-desc);
  color: var(--text-color-card-description);
  line-height: 1.6;
  margin: 0 0 var(--spacing-lg);
}

.section--services .content-card__description {
  width: 500px;
}

/* Footer Block */
.footer {
  background: var(--footer-bg-color);
  padding: var(--spacing-xxl) 0 var(--spacing-xl);
}

.footer__columns {
  display: flex;
  width: var(--footer-width-xl);
  align-items: start;
  margin: 0 auto;
  margin-bottom: 28px;
}

.footer__column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  width: 180px;
}

.footer__site-name {
  font-size: var(--font-size-lg);
  font-weight: 400;
  color: var(--text-color);
  margin: var(--spacing-sm) 12px 0 0;
}

.footer__heading {
  margin: 0;
  font-size: var(--font-size-lg);
  font-weight: 400;
  margin-bottom: var(--spacing-md);
}

.footer__links-list {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0;
}

.footer__links-item {
  margin-bottom: var(--spacing-xs);
}

.footer__link {
  color: var(--link-color);
  text-decoration: underline;
}

.footer__link:hover {
  color: var(--link-hover-color);
}

.footer__links-list .footer__link {
  font-size: var(--font-size-md);
  font-weight: 400;
}

.footer__contact-text {
  font-size: var(--font-size-md);
  color: var(--text-color);
  font-weight: 350;
  margin: 0 0 var(--spacing-sm);
}

.footer__social-link {
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--link-color);
  text-decoration: underline;
}

.footer__social-link:hover {
  color: var(--link-hover-color);
}

.footer__copyright {
  text-align: center;
  border-top: 1px solid var(--color-gray-200);
}

.footer__copyright-text {
  font-size: var(--font-size-sm);
  color: var(--text-color);
  font-weight: 400;
  margin: var(--spacing-xl) 0 0 0;
}

.footer__copyright .footer__link {
  font-weight: 500;
}

/* 
* Third-Party Component Styles
*/

/* Theme switch */
.theme-toggle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: var(--bg-color);
  border-radius: 100%;
  border: 2px solid var(--bg-color-invert);
  box-shadow: 3px 3px var(--bg-color-invert);
}

.theme-toggle__input {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
}

.theme-toggle__icon {
  position: absolute;
  top: calc(50% -10px);
  left: calc(50% -10px);
  width: 20px;
  height: 20px;
}

.theme-toggle__icon--moon {
  fill: var(--bg-color-invert);
}

.theme-toggle__icon--sun {
  stroke: var(--bg-color-invert);
  display: none;
}

.theme-toggle__input:checked ~ .theme-toggle__icon--sun {
  display: block;
}

.theme-toggle__input:checked ~ .theme-toggle__icon--moon {
  display: none;
}

.theme-toggle:active {
  box-shadow: 0px 0px var(--bg-color-invert);
  transform: translate(3px, 3px);
}

/* Button discover */
.button--discover {
  font-size: var(--font-size-md);
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--color-black);
  padding: 0;
  font-weight: 450;
  font-family: "Roboto Condensed", sans-serif;
}

.button__top {
  display: block;
  box-sizing: border-box;
  border: 3px solid var(--color-black);
  border-radius: var(--button_radius);
  padding: 0.7em 1.45em;
  background: var(--color-gray-100);
  color: var(--color-black);
  transform: translateY(-0.3em);
  transition: transform 0.1s ease;
}

.button--discover:hover .button__top {
  transform: translateY(-0.43em);
}

.button--discover:active .button__top {
  transform: translateY(0);
}

/* Header cta link */
.header__cta-link {
  align-self: flex-end;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 3px;
}

.header__cta-link span {
  padding-bottom: var(--spacing-sm);
  letter-spacing: 3px;
  word-spacing: 2px;
  font-size: var(--font-size-sm);
  padding-right: calc(var(--spacing-xs) * 3);
  text-transform: uppercase;
  color: var(--color-gray-100);
}

.header__cta-link svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.header__cta-link:hover svg {
  transform: translateX(0);
}

.header__cta-link:active svg {
  transform: scale(0.9);
}

.header__cta-link__text {
  position: relative;
  color: var(--color-gray-100);
  padding-bottom: var(--spacing-lg);
}

.header__cta-link__icon {
  fill: var(--color-gray-100);
}

.header__cta-link__text:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-100);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header__cta-link:hover .header__cta-link__text:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
