* {
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --bg-color-invert: #121212;
  --text-color: #111;
  --text-color-invert: #eee;
  --primary-color: #1e90ff;
  --border-color: #111;
  --link-hover-color: #666;

  --font-size-xxl: 3rem; /* Hero heading */
  --font-size-xl: 2rem; /* Section headings */
  --font-size-lg: 1.5rem; /* Subheadings */
  --font-size-md: 1.125rem; /* Body text */
  --font-size-sm: 1rem; /* Minor elements */
  --font-size-xs: 0.875rem; /* Captions, disclaimers, very small text */
}

.dark {
  --bg-color: #121212;
  --bg-color-invert: #ffffff;
  --text-color: #eee;
  --text-color-invert: #111;
  --primary-color: #90caf9;
  --border-color: #eee;
  --link-hover-color: #999;
}

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.topbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 400;
  font-size: var(--font-size-sm);
  transition: color 0.2s;
}

.navbar a:hover {
  color: var(--link-hover-color);
}

.topbar .company-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  font-size: var(--font-size-md);
}

img {
  width: 100%;
}

.header-content {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 100px;
}

.header-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: brightness(45%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  height: 100%;
  width: 100%;
  padding: 32px 24px;
  color: white;
}

.header-text-block {
  align-self: center;
  justify-self: start;
  max-width: 500px;
}

.header-text-block h1 {
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 10px;
}

.header-text-block p {
  font-size: var(--font-size-md);
  line-height: 1.5;
  color: #ccc;
}

.cta {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.cta .cta-action-container {
  display: flex;
  gap: 8px;
  width: 500px;
}

.cta .discover-btn {
  align-self: flex-start;
  color: #eee;
  border-color: #eee;
}

.cta .discover-btn:hover {
  background-color: #fff;
  color: #111;
}

.cta p {
  font-size: var(--font-size-md);
  color: #d4d4d4;
  margin: 0;
}

.cta .learn-more-link {
  align-self: flex-end;
}

#about_us,
#what_we_do,
#our_work_in_action {
  margin-bottom: 100px;
}

/* about us section */

#about_us {
  display: grid;
  gap: 80px;
}

.about-us-text-block {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.about-us-text-block h2 {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 36px;
  color: var(--text-color);
  font-weight: 350;
  letter-spacing: 1px;
  margin-top: 10px;
}

.about-us-text-block p {
  text-align: justify;
  display: block;
  grid-area: 1 / 3 / 2 / 8;
  font-size: 60px;
  color: var(--text-color);
  font-weight: 300;
  margin: 0;
}

.about-us-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}

.stat {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.stat-number {
  font-size: 80px;
  font-weight: 300;
  color: var(--text-color);
  margin-bottom: 12px;
}

.stat-label {
  font-size: 24px;
  color: #777;
}

/* What we do and our work in action section */

#what_we_do h2,
#our_work_in_action h2 {
  font-size: 60px;
  color: var(--text-color);
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 35px;
}

#what_we_do .cards-container,
#our_work_in_action .cards-container {
  display: flex;
  gap: 20px;
}

#what_we_do .content-card {
  display: block;
  flex: 1 1;
}

.content-card img {
  display: block;
  width: 100%;
  object-fit: cover;

  margin-bottom: 30px;
}

#what_we_do .content-card img {
  height: 530px;
}

#our_work_in_action .content-card img {
  height: 450px;
}

.content-card .subject {
  display: block;
  width: 100%;
  font-size: 16px;
  color: #666;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.content-card .title {
  display: block;
  font-size: 32px;
  margin-bottom: 12px;
  margin-top: 0;
  font-weight: 350;
  color: var(--text-color);
}

.content-card .description {
  font-size: 20px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
  margin-top: 0;
}

#what_we_do .content-card .description {
  width: 500px;
}

.content-card .learn-more-link {
  font-size: 20px;
  color: #555;
  text-decoration: underline;
  font-weight: 350;
}

.content-card .learn-more-link:hover {
  color: #111;
}

/* footer */

.footer-img-conotainer img {
  display: block;
  width: 100%;
}

footer {
  background: #f7f7f7;
  padding: 40px 0 32px 0;
}

.footer-columns-container {
  display: flex;
  width: 1200px;
  align-items: start;
  margin: 0 auto;
  margin-bottom: 28px;
}

.footer-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-column img {
  width: 170px;
}

.footer-column .site-name {
  font-size: var(--font-size-lg);
  font-weight: 400;
  color: var(--text-color);
  margin: 8px 12px 0 0;
}

.footer-column h4 {
  margin: 0;
  font-size: var(--font-size-lg);
  font-weight: 400;
}

.footer-column .footer-links-list {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-bottom: 0;
}

.footer-column .footer-links-list li {
  margin-bottom: 4px;
}

.footer-column .footer-links-list a {
  font-size: var(--font-size-md);
  color: #555;
  text-decoration: underline;
  font-weight: 400;
}

.footer-column .footer-links-list a:hover {
  color: #111;
}

.footer-column.contact-us p {
  font-size: var(--font-size-md);
  color: var(--text-color);
  font-weight: 350;
}

.footer-column.contact-us .contact-us-email {
  margin-bottom: 0;
}

.footer-column.contact-us .contact-us-email a {
  font-size: var(--font-size-md);
  color: var(--text-color);
  text-decoration: none;
}

.footer-column.contact-us .social-media-links a {
  font-size: var(--font-size-sm);
  color: #555;
  text-decoration: underline;
  font-weight: 500;
}

footer .copyright-container p {
  font-size: var(--font-size-sm);
  color: var(--text-color);
  font-weight: 400;
  margin: 32px 0 0 0;
}

footer .copyright-container a {
  text-decoration: underline;
  color: #555;
  font-weight: 500;
}

footer .copyright-container a:hover {
  color: #111;
}

/* global-classes */

.discover-btn {
  background: transparent;
  border: 1px solid var(--border-color);
  padding: 10px 28px;
  border-radius: 999px;
  font-size: var(--font-size-sm);
  cursor: pointer;
  transition: all 0.2s;
  color: var(--text-color);
}

.discover-btn:hover {
  background-color: var(--bg-color-invert);
  color: var(--text-color-invert);
}

.learn-more-link {
  background: none;
  border: none;
  color: #ddd;
  font-size: var(--font-size-sm);
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.2s;
  font-weight: 300;
}

.learn-more-link:hover {
  opacity: 0.8;
}
